<configuration>
	<appSettings>
		<add key="servidor" value="rafaeelsql.database.windows.net" />
		<add key="banco" value="AmorEmCaldas" />
		<add key="user_azure" value="rafael_caraujo" />
		<add key ="password_azure" value ="SuaSenhaForte123!"/>
		<add key ="port" value ="1433" />
	</appSettings>
</configuration>
